@model PagedList.IPagedList<MonthlyBillsWebApp.Models.UpcomingBill>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@functions{
    public void clearSearchString(string searchString)
    {
        searchString = "";
    }
}
@{
    ViewBag.Title = "Index";
}
<h2>Upcoming Bills</h2>

@using (Html.BeginForm("Index", "UpcomingBills", FormMethod.Get))
{
    <p>
        Find by Name: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
        <button type="reset" onclick="clearSearchString">Reset</button>

    </p>
}

<table id="TR_UpcomingBills" class="table TJR_UpcomingTable">
    <tr class="trbold">
        <th class="TJR_th_Hidden"></th>
        <th>
            @Html.ActionLink("The Date", "Index", new { sortOrder = ViewBag.DateSortParam })
        </th>
        <th>
            Day Of Week
        </th>
        <th>
            Name
        </th>
        <th>
            Amount
        </th>
        <th>
            Type
        </th>
        <th>
            Running Total
        </th>
        <th>Update</th>
        <th>Update</th>
        <th class="TJR_th_Hidden"></th>
        @*<th></th>*@
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td class="id" style="visibility:collapse; border:5px solid black;">
        <span>@Html.HiddenFor(modelItem => item.id) </span>
    </td>
    <td class="TheDate">
        @Html.EditorFor(modelItem => item.TheDate, new { htmlAttributes = new { @class = "form-control TheDate" } })
    </td>
    <td class="DayOfWeek">
        @Html.EditorFor(modelItem => item.DayOfWeek, new { htmlAttributes = new { @class = "form-control DayOfWeek" } })
    </td>
    <td class="Name">
        @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control Name" } })
    </td>
    <td class="Amount">
        @Html.EditorFor(modelItem => item.Amount, new { htmlAttributes = new { @class = "form-control Amount" } })
    </td>
    <td class="Type">
        @Html.EditorFor(modelItem => item.Type, new { htmlAttributes = new { @class = "form-control Type" } })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RunningTotal)
    </td>
    <td>
        <a class="Update" href="javascript:;">Update</a>
        <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
    </td>
    <td class="Paid TJR_td_Hidden">
        <span>@Html.HiddenFor(modelItem => item.Paid_) </span>
    </td>
</tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">


        //$(document).ready(function () {
        //    console.log("Boom Nigga");

        $("body").on("click", "#TR_UpcomingBills .Update", function () {
        console.log("Starting Update");
            var row = $(this).closest("tr");
            console.log("Grabbing row");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
            }
        });       

            var upcomingBill_alter = {};
            console.log("Row Finds");
            console.log(row.find(".TheDate").find('input').val());
            console.log(row.find(".id").find('span').html());
            
            upcomingBill_alter.idFK = row.find(".id").find('span').html();
            
        upcomingBill_alter.TheDate = row.find(".TheDate").find('input').val();
        upcomingBill_alter.Name = row.find(".Name").find('input').val();
        upcomingBill_alter.DayOfWeek = row.find(".DayOfWeek").find('input').val()
        upcomingBill_alter.Amount = row.find(".Amount").find('input').val();
        upcomingBill_alter.Type = row.find(".Type").find('input').val();
            console.log("Ajax Start");
        $.ajax({
            type: "POST", 
            url: "/UpcomingBills/Update",
            data: '{upcomingBill_alter:' + JSON.stringify(upcomingBill_alter) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
});

</script>
