@{
    ViewBag.Title = "Home Page";
}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @*<li>@Html.ActionLink("Monthly Bills  ", "Index", "MonthlyBills")</li>
        <li>@Html.ActionLink("Weekly Bills  ", "Index", "WeeklyBills")</li>
        <li>@Html.ActionLink("Upcoming Bills  ", "Index", "UpcomingBills")</li>*@

        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
            <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
        }
    </ul>
    @Html.Partial("_LoginPartial")
</div>