@model IEnumerable<MonthlyBillsWebApp.Models.BringHomePay>

@{
    ViewBag.Title = "Index";
}

<h2>Income</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="visibility:collapse; background-color:white; border:solid black 5px;">id</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickOnePayDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td class="id" style="visibility:collapse; border:5px solid black;">
        <span>@Html.HiddenFor(modelItem => item.id) </span>

    </td>
    <td>
        @Html.EditorFor(modelItem => item.Name)
    </td>
    <td>
        @Html.EditorFor(modelItem => item.amount)
    </td>
    <td>
        @Html.EditorFor(modelItem => item.DayOfWeek)
    </td>
    <td>
        @Html.EditorFor(modelItem => item.Frequency)
    </td>
    <td>
        @Html.EditorFor(modelItem => item.PickOnePayDate)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
