@model IEnumerable<MonthlyBillsWebApp.Models.MonthlyBill>

@{
    ViewBag.Title = "Monthly Bills";
}

<h2>Monthly Bills</h2>

<p>
    @Html.ActionLink("Create New", "Create")    
</p>
<p>
    @Html.ActionLink("Weekly Bills", "Index", "WeeklyBills")
</p>
<table class="table">
    <tr class="trbold"> 
        <th class = "column1">
            @Html.DisplayNameFor(model => model.Bill)
        </th>
        <th class="column2_3">
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th class="column2_3">
            @Html.DisplayNameFor(model => model.Date)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BillAlias)
        </th>*@
        <th class="column2_3"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.BillAlias)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
