@model IEnumerable<MonthlyBillsWebApp.Models.MonthlyBill>


@{
    Layout = null;
}
<h2>Monthly Bills</h2>


<p>
    @Html.ActionLink("Create New", "Create")

</p>

<table id="tblMonthlyBills" class="table">
    <tr class="trbold">

        <th style="width:100px">id</th>
        <th style="width:150px">Bill</th>
        <th style="width:150px">Date</th>
        <th style="width:150px">Cost</th>
        <th style="width:150px"></th>
    </tr>

    @foreach (MonthlyBillsWebApp.Models.MonthlyBill monthlyBill in Model)
    {
        <tr>
            <td class="id">
                @*@Html.EditorFor(modelItem => item.id)*@

                <span>@monthlyBill.id</span>
            </td>
            <td class="Bill">
                @* @Html.EditorFor(modelItem => item.Bill)*@
                <span>@monthlyBill.Bill</span>
                <input type="text" value="@monthlyBill.Bill" style="display:none" />
            </td>
            <td class="Date">
                @*@Html.EditorFor(modelItem => item.Cost)*@
                <span>@monthlyBill.Date</span>
                <input type="text" value="@monthlyBill.Date" style="display:none" />
            </td>
            <td class="Cost">
                @*@Html.EditorFor(modelItem => item.Date)*@
                <span>@monthlyBill.Cost</span>
                <input type="text" value="@monthlyBill.Cost" style="display:none" />
            </td>

            <td>
                <a class="Edit" href="javascript:;">Edit</a>
                <a class="Update" href="javascript:;" style="display:none">Update</a>
                <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                <a class="Delete" href="javascript:;">Delete</a>
            </td>
        </tr>
    }


</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">

        //        $(function () {
        //    //Remove the dummy row if data present.
        //    if ($("#tblCustomers tr").length > 2) {
        //        $("#tblCustomers tr:eq(1)").remove();
        //    } else {
        //        var row = $("#tblCustomers tr:last-child");
        //        row.find(".Edit").hide();
        //        row.find(".Delete").hide();
        //        row.find("span").html('&nbsp;');
        //    }
        //});


            $("body").on("click", "#tblMonthlyBills .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                    $(this).find("span").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            row.find(".Delete").hide();
            $(this).hide();
            });

            $("body").on("click", "#tblMonthlyBills .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Cancel").hide();
            $(this).hide();
 
            var monthlyBill = {};
            monthlyBill.id = row.find(".id").find("span").html();
            monthlyBill.Bill = row.find(".Bill").find("span").html();
            monthlyBill.Date = row.find(".Date").find("span").html();
            monthlyBill.Cost = row.find(".Cost").find("span").html();
            $.ajax({
                type: "POST",
                url: "/MonthlyBills/UpdateMonthlyBills",
                data: '{monthlyBill:' + JSON.stringify(monthlyBill) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        });

</script>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

